/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18 Aug, 2022, 10:22:44 AM
    Author     : user
*/
.one{
    margin: 200px;
    margin-top: 20px;
    padding: 20px;
}
h3{
    text-align: center;
}
.button{
    margin-right: 100px;
   
}