*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.L4{
    width: 200px;
    clip-path:circle(); 
}
.col-3{
    padding-top: 50px;
    padding: 130px;
}
